<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        ol {
            padding: 5px;
        }

        ol li {
            padding-bottom: 5px;
        }

        .reglament_date {
            font-weight: bold;
            padding-top: 40px;
        }

        .card-info {
            text-align: center;
            margin-bottom: 10px;
        }

        .card-info .card-info-label {
            font-size: 12px;
            border-top: 1px dashed #696969;
        }
    </style>
</head>
<body>
<div style="padding: 20px; width: 550px; margin: 50px auto;">
    <h2>ЗАЯВЛЕНИЕ О ПРИСОЕДИНЕНИИ К РЕГЛАМЕНТУ В СИСТЕМЕ ЭЛЕКТРОННОГО ДОКУМЕНТООБОРОТА
        «ТЕНДЕРХЕЛП»</h2>
    <div class="card-info">
        <div>{{ client.full_name }}</div>
        <div class="card-info-label">
            наименование юридического лица / ФИО индивидуального предпринимателя
        </div>
    </div>
    <div class="card-info">
        <div>{{ client.ogrn }}, {{ client.inn }}</div>
        <div class="card-info-label">
            ОГРН, ИНН юридического лица / ОГРНИП, ИНН индивидуального предпринимателя
        </div>
    </div>
    <div class="card-info">
        <div>{{ client.legal_address }}</div>
        <div class="card-info-label">
            адрес местонахождения юридического лица / адрес регистрации индивидуального предпринимателя
        </div>
    </div>
    <div class="card-info">
        <div>в
            лице: {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</div>
        <div class="card-info-label">
            должность, ФИО представителя юридического лица / ФИО представителя индивидуального
            предпринимателя
        </div>
    </div>
    <div class="card-info">
        <div>действующего на основании: {{ document }}</div>
        <div class="card-info-label">
            документ, подтверждающий полномочия представителя
        </div>
    </div>

    <ol>
        <li>
            1. в соответствии со статьей 428 Гражданского кодекса Российской Федерации присоединяется к
            Регламенту в
            Системе электронного документооборота Общество с ограниченной ответственностью «Тендерхелп»
            (ИНН
            5010050218,
            ОГРН 1155010001156, КПП 501001001) (далее - Регламент), опубликованному на сайте в сети
            «Интернет»
            по
            адресу: https://tenderhelp.ru/docs/, и выражает согласие со всеми положениями
            Регламента с
            момента
            подписания настоящего Заявления с помощью электронной цифровой подписи (ЭЦП);
        </li>
        <li>2. присоединяется к Регламенту в качестве: {{ role }}</li>
        <li> 3. настоящим подтверждает, что ознакомлен со всеми положениями Регламента, в том числе
            Приложений к
            нему, и
            обязуется безусловно соблюдать их; соглашается с тем, что положения Регламента определены
            ООО
            «Тендерхелп» и
            изменения в Регламент вносятся ООО «Тендерхелп» в одностороннем порядке.

        </li>
    </ol>


    <div class="reglament_date">{% now 'd.m.Y'  %}</div>
</div>
</body>
</html>