<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        * {
            line-height: 1.5;
            font-family: Georgia, Times, "Times New Roman", serif;
        }
        h1 {
            font-size: 28px;
            text-align: center;
        }
        ol, ul {
            padding: 5px 5px 5px 40px;
        }

        p {
            text-indent: 20px;
        }

        li {
            padding-bottom: 5px;
        }

    </style>
</head>
<body>
<div style="width: 800px; margin: 20px auto;">


    <span>Приложение № 2 к Регламенту. Форма Согласие на обработку персональных данных</span>
    <h1>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
    <p>{% now 'd.m.Y' %}</p>

    <p>
        Я, {{ last_name }} {{ first_name }} {{ middle_name }} (далее – Заявитель) реквизиты документа, удостоверяющего
        личность субъекта
        персональных данных: паспорт, серия и номер: {{ series }} {{ number }},
        выдан: {{ issued_where }}, {{ issued_code }},
        дата выдачи: {{ issued_when }}, адрес: {{ registration_address }}

    </p>

    <p>
        Предоставляю следующей организации: Общество с ограниченной ответственностью «Тендерхелп», находящейся по
        адресу:
        141981, Московская область, г. Дубна, Университетская, д. 16 офис 202
    </p>


    <p>
        Операторы вправе осуществлять обработку предоставляемых персональных данных, а именно:
    </p>
    <ul>
        <li>Фамилия, имя, отчество;</li>
        <li>дата и место рождения;</li>
        <li>гражданство;</li>
        <li>адрес;</li>
        <li>данные документа, удостоверяющего личность;</li>
        <li>данные миграционной карты;</li>
        <li>идентификационный номер налогоплательщика;</li>
        <li>сведения о трудовой деятельности;</li>
        <li>сведения о документах, содержащих мои персональные данные;</li>
        <li>номера контактных телефонов и адресов электронной почты;</li>
        <li>иные персональные данные.</li>
    </ul>

    <p>
        Операторы вправе осуществлять с предоставленными персональными данными любые действия, предусмотренные
        Федеральным
        законом 27 июля 2006 года N 152-ФЗ “О персональных данных”, в частности: сбор, систематизацию, накопление,
        хранение,
        уточнение, использование, блокирование, уничтожение, распространение, как с использованием средств
        автоматизации,
        так и
        без использования таких средств, а также в передачу информации третьим лицам, в случаях, установленных
        действующим
        законодательством Российской Федерации и договорами с Заявителем и/или юридическими/физическими лицами, от имени
        которых
        действует Заявитель. Целью обработки персональных данных является надлежащее выполнение операторами своих
        обязательств,
        вытекающих из федеральных законов, иных правовых актов, в том числе актов федеральных органов исполнительной
        власти,
        Банка России (далее вместе – законодательство), а также из соглашений (договоров) с контрагентами, в частности с
        Заявителем и/или юридическими/физическими лицами, от имени которых действует Заявитель.
    </p>

    <p>
        Согласие действует в течение неопределенного срока и может быть отозвано путем направления оператору/операторам
        заявления в письменной форме об отзыве согласия, при этом оператор/операторы прекращают обработку персональных
        данных и
        уничтожают их (при условии расторжения любых договорных отношений с оператором/операторами и полного погашения
        задолженности по договорам, соглашениям (при наличии)), за исключением персональных данных, включенных в
        документы,
        обязанность по хранению которых прямо предусмотрена законодательством и внутренними документами Операторов.
        Хранение
        таких персональных данных осуществляется операторами в течение срока, установленного законодательством и
        внутренними
        документами операторов.
    </p>

    <p>
        Заявление может быть совершено в свободной форме.
    </p>

    <p>
        В случае отзыва настоящего согласия персональные данные, включенные в документы, образующиеся в деятельности
        операторов, в том числе во внутренние документы операторов в период действия согласия, могут передаваться
        третьим
        лицам в объеме и случаях, указанных в настоящем согласии.

    </p>
    <p>
        Также подтверждаю, что персональные данные могут быть получены операторами от любых третьих лиц.
    </p>


    <p>
        Уведомление о получении персональных данных не от субъекта персональных данных.
    </p>
    <ol>
        <li>
            Обработка персональных данных осуществляется операторами в целях соблюдения требований действующего
            законодательства РФ, а также договоров и соглашений с юридическими/физическими лицами, от имени которых
            действует Заявитель.
        </li>
        <li>
            Предполагаемый круг пользователей персональными данными Заявителя включает в себя работников операторов,
            сотрудников регулирующих, контролирующих и надзорных государственных органов, контрагентов операторов и иных
            лиц
            при осуществлении ими своих полномочий в соответствии с требованиями действующего законодательства РФ и
            заключенных соглашений (договоров).
        </li>
        <li>
            В соответствии с действующим законодательством РФ Заявитель обладает следующими правами: <br>
            <ol>
                <li>на доступ к своим персональным данным;</li>
                <li>на предварительное согласие и немедленное прекращение обработки по требованию при обработке
                    персональных
                    данных в
                    целях продвижения товаров, работ, услуг на рынке;
                </li>
                <li>
                    возникающими при принятии решений на основании исключительно автоматизированной обработки их
                    персональных
                    данных;
                </li>
                <li>
                    на обжалование действий или бездействий операторов;
                </li>
                <li>
                    иные права, установленные действующим законодательством РФ.
                </li>
            </ol>

        </li>
    </ol>

    <div style="text-align: right">/{{ last_name }} {{ first_name }} {{ middle_name }}/ ________________</div>
</div>
</body>
</html>